{% extends 'flatpages/default.html' %}
{% block title %} Posts {% endblock title %}

{% block content %}
<!-- Перед таблицей добавим форму для поиска -->
<!--<form method="GET">
    {{ filter.form }}--><!-- Форму от фильтров за нас сделает django. А вот кнопку, увы придётся делать самому -->
<!--<input type="submit" value="Найти"></form>-->  <!--<form action="another_search.html"> <input type="text"> <button type="submit"> </form>-->
<table>
    <thead>
    <th>
        Автор
    </th>
    <th>
        Категория
    </th>
    <th>
        Опубликовано
    </th>
    <th>
        Заголовок
    </th>
    <th>
        Текст
    </th>
    <th>
        Рейтинг
    </th>
    </thead>
    {% for new in filter.qs %} <!-- поменяем products на filter.qs -->
    <tr>

        <td>
            {{ new.author.author_user|title }}
        </td>
        <td>
            {{ new.category|title }}
        </td>
        <td>
            {{ new.time_public|date:'d M Y' }}
        </td>
        <td>
            <a href="{% url 'post_detail' new.id %}">{{ new.title }}</a>
            <a href="{% url '_edit' new.id %}"><u>Редактировать</u></a>
            <a href="{% url 'post_delete' new.id %}"><u> Удалить </u></a>

        </td>
        <td>
            {{ new.text|truncatechars:50 }}
        </td>
        <td>
            {{ new.rating }}
        </td>
    </tr>
    {% endfor %}
</table>

<a href="{% url '_add' %}">Добавление публикаций</a> <br>
<a href="{% url '_search' %}">Найти публикацию</a> <br>
<a href="{% url 'user_edit' %}">Редактировать профиль</a>


{% if is_paginated %}

{% if page_obj.has_previous %}
<a href="?page=1">First</a>
<a href="?page={{ page_obj.previous_page_number }}"><<<</a>
{% endif %}

{% for num in page_obj.paginator.page_range %}
{% if page_obj.number == num %}
<a>{{ num }}</a>
{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
<a href="?page={{ num }}">{{ num }}</a>
{% endif %}
{% endfor %}

{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}">>>></a>
<a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
{% endif %}
{% endif %}
<br>

{% endblock content %}